.tab-button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #1d4ed8; // blue-700
    font-weight: bold;
    border-radius: 0;
    border-bottom: 2px solid #1d4ed8;
    margin-right: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
  
    &.active {
      background-color: #1d4ed8; // blue
      color: white;
      border-bottom: none;
    }
  
    &:hover:not(.active) {
      background-color: #e0e7ff; // light blue hover
    }
  }

  .tab-button:hover:not(.active) {
    background-color: #e0e7ff; // light blue
  }
    